@import url('https://fonts.cdnfonts.com/css/star-wars');

body {
    background-color: black;
    background-image: url("/public/images/swbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Star Wars', sans-serif;
                                                
}

.p-3 {
    background-color: black;
    opacity: 40%;
}

.p-3 figure img:hover {
    transform: scale(1.1);

}

#gallery figure img {
    object-fit: cover;
}